*{
    border: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: #ddd;
    }
    &.active {
        background-color: #ccc;
    }
    &.active:hover {
        background-color: #bbb;
    }
}